.header {
  padding: 20px 40px;
  width: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-bottom: 1px rgb(180, 180, 180) solid;
}
.header img {
  width: 350px;
}
@media (max-width: 550px) {
  .header img {
    width: 250px;
  }
}
